# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# IDE
.idea/
.vs/
*.sln.DotSettings.user

# OS
.DS_Store
Thumbs.db

# Unity-hidden ~ folders must not have folder .meta
*~.meta

